body {
  font-family: 'Cutive Mono', monospace;
  cursor: default;
  background-image: url('paper.jpg');
}
h1 {
  font-size: 75px;
  font-family: futura, helvetica;
}
h2 {
  font-size: 40px;
  font-family: futura light, helvetica;
  font-weight: lighter;
  transition: font-size 1s, color 1s;
  color: hsl(316, 23%, 0%);
  cursor: pointer;
}
.section:not(.active) {
  display: none;
}

/* Nav bar */
#navBar h2 {
  display: inline-block;
  margin: 0 15px;
  /* user-select: none; */
}
#navBar {
  user-select: none;
  text-align: center;
}
#navBar h2:hover {
  font-size: 45px;
  color: hsl(316, 23%, 72%);
  transition: font-size 1s, color 1s;
}


/* Entry stuff */
.entry img {
  float: left;
  user-select: none;
}
.entry {
  height: 300px;
}
