body {
  font-family: 'Cutive Mono', monospace;
  cursor: default;
  background-image: url('paper.jpg');
  margin: 0;
  transition: display 1s;
}
#mainTitle {
  text-align: center;
  font-size: 75px;
  font-family: futura, helvetica;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-family: futura, helvetica;
  font-weight: lighter;
  transition: font-size 1s, color 1s;
  color: hsl(316, 23%, 0%);
  cursor: pointer;
}

/* sections */
.section:not(.active) {
  left: -100%;
}
.section.active {
  left: 0px;
}
.section {
  position: absolute;
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  /*padding: 0px 20px;*/
  left: -1000px;
  width: 100%;
  transition: left 1s ease-in-out;
  /*height: 5000px;*/
}

/*#sectionWrapper {
  position: relative;
}*/

/* Nav bar */
#navBar h2 {
  display: inline-block;
  margin: 0 15px;
  color: hsl(316, 23%, 0%);
  transition: font-size 1s, color 1s;
}
#navBar {
  text-align: center;
  margin: 0px 0;
}
#navBar h2:hover {
  /*font-size: 45px;*/
  color: hsl(316, 23%, 72%);
  transition: font-size 1s, color 0.5s;
}
#navBar h2.active {
  color: hsl(316, 23%, 40%);
  text-decoration: underline;
}


/* Entry stuff */
.entry .image-container {
  background-color:  black;
  height: 27.333vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  transition:  background-color 1s, height 1s, width 1s;
}
.entry {
  background-color:  white;
  width: 27.333vw;
  margin: 1.5vw;
  padding: 1.5vw;
  cursor: pointer;
  color: hsl(316, 23%, 0%);
  transition: color 1s, background-color 1s;
  text-decoration: none;
  border-radius: 10px;
}
.entry:hover {
  color: hsl(316, 23%, 40%);
  transition: color 1s, background-color 1s;
  background-color: hsla(0, 0%, 0%, 10%);
}
.entry-info {
}
.entry h3 {
  margin: 0.8vw 0px;
  font-size: 2vw;
}
.entry p {
  margin: 0px 0px;
  font-size: 1.5vw;
}
